<h2><u>Login Lender</u></h2>
<form action="/sessions" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Email: <input type="text" name="lender[email]">
	Password: <input type="text" name="lender[passsword]">
	<input type="submit" value="Login">

</form>

<a href="/">Click here to register</a>